

svg {
  font-size: 14px;  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Trying to get SVG to act like a greedy block in all browsers
  //display: block;
  //width:100%;
  //height:100%;

  }

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
}

.foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}

.legend {
  font-size: 18px;
  font-style: oblique;
}

.legend line {
  stroke-width: 2px;
}

.id0 {
  stroke: #800;
}

.id1 {
  stroke: #080;
}

.id2 {
  stroke: #008;
}

.id3 {
  stroke: #500;
}

.id4 {
  stroke: #050;
}

.id5 {
  stroke: #005;
}

.id6 {
  stroke: #300;
}

.id7 {
  stroke: #030;
}

.id8 {
  stroke: #003;
}

.id9 {
  stroke: #100;
}

.id10 {
  stroke: #010;
}




.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}
.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

