

svg {
  font-size: 14px;  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Trying to get SVG to act like a greedy block in all browsers
  //display: block;
  // width: auto !important;
  // height: auto !important;

  }

.scatter{
  height: 60%;
  width: 100%;
}

.parallels{
  height: 40%;
  width: 100%;
}

.point-tooltip {
  position: absolute;
  font-size: 12px;
  color: #FFFFFF;
  background: #000000;
  border-radius: 6px;
  pointer-events:none;
  padding: 5px;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 2.5px;
}

.foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}

.legend {
  font-size: 18px;
  font-style: oblique;
}

.legend line {
  stroke-width: 2px;
}


.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}
.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

svg.box{
  width: auto;
  display: inline;
}
